@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

body {
}
.modal-dialog {
    font-family: 'Maven Pro', sans-serif;
}
.modal-header h3 {
    margin-left: 40px;
}
.form-control {
    max-width: 275px;
}
#customerZipCode {
    width: 100px;
}
#customerMess {
    width: 400px !important;
}
.orderform {
    margin-top: 10px;
}
textarea {
    resize: none;
}
.pay-alt {
    padding-left: 10px;
}
.payMeth {
    color: rgba(200, 100, 0, 0.8);
}
.payMeth:hover {
    color: #FA8704;
}
.payMeth:focus {
    color: #FA8704;
}
.fa:active {
    color: rgba(200, 100, 0, 0.8); 
    transform: scale(0.9);
}
#textArea::-webkit-input-placeholder {
    font-style: italic;
    font-size: 12px;
}
#textArea:-moz-placeholder  {
    font-style: italic;
    font-size: 12px;
}
#textArea::-moz-placeholder  {
    font-style: italic;
    font-size: 12px;
}
#textArea:-ms-input-placeholder  {
    font-style: italic;
    font-size: 12px;
}
tr.odd td {
    background-color: rgba(200, 100, 0, 0.6);
    color: #FFFFFF;
}